@import'../../sass/utils/_typographie';

section {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 22px;

    .overlay-banniere {
        position: absolute;
        width: 100%;
        max-width: 1240px;
        height: 223px;
        max-height: 223px;
        background: rgb(0, 0, 0);
        background: linear-gradient(56deg, rgba(0, 0, 0, 0.39539565826330536) 0%, rgba(0, 0, 0, 0.1516981792717087) 100%);
        border-radius: 25px;
    }

    .bg-Banniere {
        height: 223px;
        width: 100%;
        max-width: 1240px;
        border-radius: 25px;
        object-fit: cover;

    }


    .text-banniere {
        position: absolute;
        color: #ffffff;
        z-index: 1;
        // br{
        //     display: none;
        // }
        font: {
            size: 48px;
            weight: 500;
            family: $text;
        }
    }
}

@media screen and (max-width:768px) {
    section {
        .text-banniere {
            font: {
                size: 24px;
            }
        }
    }
}

@media screen and (max-width:475px) {

    section {

        // margin: 0 auto;
        .overlay-banniere {
            width: 335px;
            max-width: 315px;
            height: 111px;
            max-height: 111px;
        }

        .bg-Banniere {
            width: 335px;
            max-width: 315px;
            height: 111px;
            max-height: 111px;
        }
        // .text-banniere{
        //     br{
        //         display: block;
        //     }
        // }

    }


}