.layout {
    max-width: 1240px;
    margin: 0 auto;

    main {
        padding: 20px;
    }

}

@media screen and (max-width:475px) {
    .layout {
        main {
            padding: 20px 0;
            margin: 0 auto;
        }
    }
}